* {
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
}

.highscore-link {
    color: plum;
    background-color: white;
    border: none;
    font-weight: bold;
    text-decoration: none;
}
.highscore-link:hover{
    color: black;
    cursor: pointer;
}
.timer {
    display: flex;
    justify-content: space-around;
}
#question {
    border: none;
    font-weight: bold;
    font-size: 42px;

}
#question-container, #directions{
    font-size: 20px;
}


button, .try-again-btn {
    color: white;
    background-color: plum;
    padding: 10px 15px;
    border-radius: 10px;
}
button:hover, .try-again-btn:hover{
    color: black;
    cursor: pointer;
}

/*list elements*/
.listEl {
    display: flex;
    flex-direction: column;
    
}
li {
    display: flex;
    
    border: solid 1px purple;
    border-radius: 10px;
    background-color: purple;
    color: white;
    padding: 15px 10px;
    justify-content: flex-start;
    list-style: number;

}
li:hover{
    background-color: plum;
    color: black;
}

.hide {
    display: none;
}


